target/
build/
tmp/
.bloop/
.metals/
hs_err*
wrapper.cpp
aten-scala/core/src/main/java/aten/ATen.java
aten-scala/core/src/main/java/aten/JniImpl.java
aten-scala/jni-osx/src/main/resources/libatenscalajni.dylib
aten-scala/jni-linux/src/main/resources/libatenscalajni.so
.vscode/settings.json
aten-scala/.bsp/sbt.json
libatenscalajni_aarm64.dylib
libatenscalajni_x86.dylib